:root {
    --bg-color: #27296d;
    --light-color: #27296d;
    --dark-color: #5e63b6;
    --almond-color: #a393eb;
    --blue-color: #f5c7f7;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    margin-top: -100vh;
    transition: margin-top 0.5s;
    min-height: 100%;
    height: 100%;
    position: relative;
    margin: 0px;
    overflow: hidden;
    padding: 0px;

}

.boop {
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.link {
    padding: 20px;
    color: var(--almond-color);
    display: block;
    text-decoration: none;
    height: 70px;
    margin-left: 10px;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.link:hover:before {
    transition: width 700ms ease;
    width: 100%;

}

.link:before {
    background: linear-gradient(to right,
            transparent,
            var(--blue-color),
            var(--almond-color));
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 0%;
}

h1 {
    color: var(--blue-color);
    font-family: 'Space Mono', monospace;
    text-decoration: none;

    padding-bottom: 10px;
    font-size: 60px;
}

#fact {
    text-align: center;
    height: 50vh;
    color: var(--blue-color);
    display: flex;
    align-items: flex-end;
    justify-content: center;

}





ul,
li {
    padding: 0px;
    list-style-type: none;


}

li {
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    color: var(--almond-color);
    font-size: 19px;
    border: 0.3em solid var(--dark-color);
    border-radius: 0.5em;
    width: 17em;
    height: 4em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 1px 3px 4px black;
    transition: transform ease .5s, text-shadow ease .5s;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--blue-color);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}



nav ul li:hover {
    color: black;
    text-shadow: none;


}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

#nav ul li span:nth-child(1) {
    --n: 1;
}

#nav ul li span:nth-child(2) {
    --n: 2;
}

#nav ul li span:nth-child(3) {
    --n: 3;
}

#nav ul li span:nth-child(4) {
    --n: 4;
}

#nav ul li span:nth-child(5) {
    --n: 5;
}


nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    width: 120%;
    height: 120%;
    left: -7%;
    top: -5%;
    position: absolute;
    /*background: url('blue purple beige space-1675788316305_resized.jpg') no-repeat left center / cover;
    */

    background:


        linear-gradient(121.28deg, #211e25 0%, #000000 100%),
        linear-gradient(180deg, #2e1a4b 0%, #3f384b 100%),


        linear-gradient(341.1deg, #4e14b9 7.52%, #3f2d58 77.98%),

        radial-gradient(50.82% 80.51% at 49.82% 50%, #5A0069 0%, #5e04b3 100%),
        radial-gradient(60% 72.12% at 50% 50%, #cf1ca7 0%, #3f2d58 90%);
    /*
     
     */
    background-blend-mode: color-dodge, overlay, difference, difference, normal;
    z-index: -2;
}
#SubmitScore{
    display: block;


}

@media only screen and (max-width: 1150px) {
    .background-image {
        display: none;
    }

    body {
        background:
            linear-gradient(121.28deg, #211e25 0%, #000000 100%),
            linear-gradient(180deg, #2e1a4b 0%, #3f384b 100%),


            linear-gradient(341.1deg, #4e14b9 7.52%, #3f2d58 77.98%),

            radial-gradient(50.82% 38.51% at 49.82% 50%, #5A0069 0%, #5e04b3 100%),
            radial-gradient(60% 32.12% at 50% 50%, #cf1ca7 0%, #3f2d58 90%);
      
        background-blend-mode: color-dodge, overlay, difference, difference, normal;
    }
    h1{
        font-size: 45px;
    }



}

li {
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.5);
    transition: transform ease .5s, box-shadow ease .5s;
}

li:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}

.leaderboard {
    width: 100%;
    height: 100px;
    background: rgb(39,41,109);
    background: radial-gradient(circle, rgba(39,41,109,1) 20%, #474a86 30%);
    position: fixed;
    bottom: 0;
    left: 0;
    transition: height 0.5s ease;
    overflow: hidden;
    z-index: 2;
    display: flex;
    justify-content: center;
    margin: 0px;
    
}

.texti {
    
    position: absolute;
    align-items: center;
    font-size: 40px;
    font-family: sans-serif;
    font-weight: bold;
    text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
             0px 8px 13px rgba(0,0,0,0.1),
             0px 18px 23px rgba(0,0,0,0.1);
    margin-top: 20px;
    color: var(--blue-color);
}

.leaderboard::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: radial-gradient(circle, rgba(39,41,109,1) 0%, #474a86 100%);
    z-index: -1;
    transition: opacity 0.3s ease;
    opacity: 0;
  }
  
  .leaderboard:hover::before {
    opacity: 1;
  }

.leaderboard-items {
   
    position: relative;
    top: 150px;
    transition: top 0.5s ease;
   height: 550px;
   overflow-y: auto;
   overflow-x: hidden;
}


.leaderboard:hover {
    height: 80%;
}

/*.leaderboard:hover + tr{
    height: 80%;
  }*/

.leaderboard table {
    width: 600px;
    margin-top: -70px;
    padding: 10px;
    
}
.leaderboard li, th{ /*pol bo tr*/
    font-size: 20px;
    font-family: monospace;
    color: var(--blue-color);
    margin: 5px;
    height: 50px;
}


.leaderboard button {
    font-family: inherit;
    font-size: 20px;
    background: var(--blue-color);
    color: var(--bg-color);
    padding: 10px;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    height: 80px;
    width: 100px;
    position: absolute;
    right: 70px;
    top: 380px;
    font-weight: bold;
    box-shadow: 3px 4px 7px 2px rgba(0, 0, 0, 0.3);
  }
  
  button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  button svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  button:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  button:hover span {
    transform: translateX(5em);
  }
  
  button:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
  @media only screen and (max-width: 1150px) {
    .leaderboard-items{
        width: 90vh;
        padding: 10px;
    }
    .leaderboard button{
        display: none;
    }
  }
  